.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        background-color: #EEEEEE;
        border-color: #000000;
        border-width: 4px;
}

.btn {
        color: #000000;
        background-color: #3db983;
        border: #ef7760
}

.btn:hover {
        background-color: #6cbf78;
        color: #000000;
}

.navbar {
        background: #ef8f51;
}

.navbar-dark .navbar-nav .nav-link  {
        color: #000000;
}

.navbar-dark .navbar-brand {
        color: #000000;
}

.navbar-dark .navbar-brand:hover {
        color: #000000;
}

/* Palette 1:
#ef7760, salmon
#efaa24, mustard
#eceb13, yellow green
#78c826, lime
#47bf79, blue green
*/

/* Palette 2:
#ef8f51, light orange
#ecbd40, lighter mustard
#acc84c, lime
#6cbf78, blue green
#3db983, darker blue green
*/
